/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Market page
*/

.market {
	background-color: #262626; /* page background color */
	color: white;
	height: 70em;  /* this is the height of the page*/
}

#img-style {
	border-style: solid;
  	border-color: #79F5AE;
 	 margin: auto;
}

.market table {
	width: 80%;
	border: 1px solid;
	border-color: #79F5AE;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

.market th {
	font-size: 1.3em;
	text-align: left;
	padding-left: 0.7em;
	padding-top: 0.5em;
}

.market td {
	text-align: left;
	padding: 1em;
}

.search-btn {
	background-color: #262626;
	color: #fff;
	padding: 1rem 3rem;
	border: 1px solid #79F5AE;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 8px;
}

.myTextInput {
    min-width: 200px;
}

.search {
	padding-top: 2em;
	padding-bottom: 1em;
	margin-right: 9rem;
}

@media (max-width: 600px) {
    .search-btn {
        margin-left: 4px;
    }
}
