.Dashboard {
	background-color: #79F5AE;
	padding-top: 10px;
	padding-bottom: 50px;
}

#dashboardLayout {
  margin-left: 5em;
  margin-right: 5em;
}

.sectionHeadings {
  font-size: 1.9em;
  text-align: left;
}

#Summary {
  background-color: #262626;
  height: 15em;
  width: 85%;
}

.smallData {
  height: 10em;
  width: 10em;
  background-color: white;
  border-radius: 50%;
  margin-left: 2em;
  margin-right: 1em;
}

.smallData p {
  text-align: center;
  padding: 60px 0;
}

#largeData p {
  text-align: center;
  padding: 100px 0;
}

#largeData {
  height: 15em;
  width: 15em;
  background-color: white;
  border-radius: 50%;
}