/*
Name: 	Nathan Hoorbkaht
		    Nicholas Gustin	
		    Connor Lack

SID:	  103865794
		    103995882
		    103992223

This Page is the style elements for the Dashboard page
*/

.dashboard {
	background-color: #79F5AE;
	padding-top: 10px;
	padding-bottom: 50px;
}

.dashboard {
  background-color: #79F5AE;

}

.section_headings {
  font-size: 1.9em;
  text-align: left;
  margin-left: 8%;
}

#summary {
  background-color: #262626;
  height: 15em;
  width: 83%;
  margin-left: 8%;
}

.small_data {
  height: 12em;
  width: 12em;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-top: 2em;
  margin-left: 5%;
  margin-right: 7%;
  margin-bottom: 1em;
}

.small_data p {
  text-align: center;
  padding: 65px 0;
}
