/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Footer component.
*/

footer {
	background-color: #262626;
	color: white;
	padding: 40px;
	text-align: center;
	margin-top: auto;

}