/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Home page
*/

.top {
	background-color: #79F5AE;
	padding-top: 10px;
	padding-bottom: 50px;
}

h2 {
	  font-size: 35px;
}

.main__btn {
  padding: 0.75rem 1.5rem; /* Adjust padding */
  border: 1px solid #79F5AE;
  border-radius: 10px;
  cursor: pointer;	
  margin-top: auto; /* Move the button close to the bottom */
  margin-bottom: 3rem; /* Add larger gap at the bottom */
}
  
.main__btn button {
  color: white;
}


/* the bottom section of the Home page */
.bottom {
	background-color: #262626;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}
