/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Market page
*/

.Market {
	background-color: #262626; /* page background color */
	color: white;
	height: 65em;  /* this is the height of the page*/
}

#imgStyle {
	border-style: solid;
  	border-color: #79F5AE;
 	 margin: auto;
}

.Market table {
	width: 80%;
	border: 1px solid;
	border-color: #79F5AE;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

.Market th {
	font-size: 1.3em;
	text-align: left;
	padding-left: 0.7em;
	padding-top: 0.5em;
}

.Market td {
	text-align: left;
	padding: 1em;
}

.up {
	color: rgb(10, 221, 10);
}

.down {
	color: red;
}

.search_btn {
	background-color: #262626;
	color: #fff;
	padding: 1rem 3rem;
	border: 1px solid #79F5AE;
	border-radius: 10px;
	cursor: pointer;
}

.Search {
	padding-top: 2em;
	color: white;
}

.search_btn_container {
	color: white;
}