/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Market page
*/

.Market {
	background-color: #262626;
	color: white;
	
}

#imgStyle {
	border-style: solid;
  border-color: #79F5AE;
  margin: auto;
}
