.navbar {
	background-color: #79F5AE;
	padding: 30px 10px;
	overflow: hidden;
	transition: 0.4s;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 99;
}

.NavBorder {
border-top: #60C78C solid 20px;
}