/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Navbar component.
*/

.navbar {
	background-color: #79F5AE;
	padding: 30px 0;
	overflow: hidden;
	/* transition: 0.3s; */
	position: sticky; 
	width: 100%;
	top: 0;
	z-index: 99;
	color: white;
	padding: 1rem;
	text-align: center;
}

.page-links a {
    display: inline-block;  /* to make sure padding affects clickable area */
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.asset-sphere {
	width: 200px;
	height: 50px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        padding: 15px 0;
        align-items: center;
    }

    .page-links a {
        padding: 10px;  /* Adjust padding accordingly */
        font-size: 14px;
        margin-left: 0;  /* Ensure no negative margin */
    }

    .login-icon {
        max-width: 40px; 
        max-height: 40px;
    }

    .asset-sphere {
        width: 160px;
        height: 40px;
    }
}


.login-icon {
	width: 50px; height: 50px;
}

@media only screen and (max-width: 600px) {
	.navbar {
		padding: 15px 0;
	}

	.page-links a {
		padding: 15px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 600px) {
    .navbar {
        padding: 15px 0;
		align-items: center;
    }

    .page-links a {
        padding: 6px;
        font-size: 14px;
		margin-left: -140px;
    }

	.login-icon {
		max-width: 40px; 
		max-height: 40px;
	}

	.asset-sphere {
		padding: 0;
		width: 160px;
		height: 40px;
	}
}

@media only screen and (max-width: 600px) {
    img {
        width: 100px;
        height: auto;
    }
}

/* Further adjust for screens smaller or equal to 400px wide */
@media only screen and (max-width: 400px) {
    img {
        width: 50px;
        height: auto;
    }
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
	margin-left: 150px;
	color:#262626;
}

.user-name {
    margin: 0; /* remove default <p> margin */
	white-space: nowrap;  /* Prevents the text from wrapping onto the next line */
}

.logout-button {
    padding: 8px 15px; /* adjust padding as needed */
    text-decoration: none;
    /* remove display, text-align properties as they're unnecessary in this context */
}