/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Navbar component.
*/

.navbar {
	background-color: #79F5AE;
	padding: 30px 0;
	overflow: hidden;
	/* transition: 0.3s; */
	position: sticky; 
	width: 100%;
	top: 0;
	z-index: 99;
}

.page-links a {
	display: block;
	color: black;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

.page-links a:hover {
	text-decoration: underline;
}

.asset-sphere {
	padding: 0;
	width: 200;
	height: 50;

}

.login-icon {
	width: 50px; height: 50px;
}

@media only screen and (max-width: 600px) {
	.navbar {
		padding: 15px 0;
	}

	.page-links a {
		padding: 15px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 600px) {
    .navbar {
        padding: 15px 0;
		align-items: center;
    }

    .page-links a {
        padding: 6px;
        font-size: 14px;
		margin-left: -140px;
    }

	.login-icon {
		max-width: 40px; 
		max-height: 40px;
	}

	.asset-sphere {
		padding: 0;
		width: 160;
		height: 40;
	}
}

@media only screen and (max-width: 600px) {
    img {
        width: 100px;
        height: auto;
    }
}

/* Further adjust for screens smaller or equal to 400px wide */
@media only screen and (max-width: 400px) {
    img {
        width: 50px;
        height: auto;
    }
}