/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Navbar component.
*/

.navbar {
	background-color: #79F5AE;
	padding: 30px 0;
	overflow: hidden;
	/* transition: 0.3s; */
	position: sticky; 
	width: 100%;
	top: 0;
	z-index: 99;
}

.page-links a {
	display: block;
	color: black;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

.page-links a:hover {
	text-decoration: underline;
}