/* Register */
.Register {
    background-color: #262626;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
    align-items: center;
    justify-content: flex-start; /* Align content at the top */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .mainreg__container {
    background-color: #262626;
    width: 100%; /* Take full width */
    display: flex;
    justify-content: center;
  }
  
  .mainreg__content {
    background-color: #262626;
    width: 80%;
    max-width: 500px; /* Adjust the max-width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mainreg__content h1 {
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 400px;
  }
  
  .register-form input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    width: 100%; /* Make the inputs span the full width */
  }
  
  .formreg__container {
    margin-top: 2rem;
  }
  
  .mainreg__btn {
    background-color: #262626;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: 1px solid #79F5AE;
    border-radius: 10px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 2rem; /* Adjust the margin as needed */
  }

  .mainreg__btn a {
    color: #fff; /* Set the text color */
    /* padding: 0.5rem 1rem; /* Adjust padding */
    cursor: pointer;
    text-decoration: none; /* Remove underlines */
  }
  
  .btnreg__undertext {
    color: #79F5AE;
    font-size: 0.5rem;
    font-style: italic;
    margin-bottom: 2rem; /* Adjust the margin as needed */
  }

  .btnreg__undertext a {
    color: #79F5AE; /* Set the link text color */
    text-decoration: none; /* Remove underlines (default link style) */
    font-size: 0.5rem; /* Adjust font size to match existing text */
    margin-bottom: 8rem; /* Add larger gap at the bottom */
  }

  .btnreg__undertext a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
  }
  
  /* Add styles for Navbar */
  .Navbar {
    background-color: #333;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  