/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Wallet page
*/

.Wallet {
    background-color: #262626;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.wallet-main-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2/3 for left-container, 1/3 for right-container */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1400px; /* Ensures that both right and left container dont go beyond this width */
  padding: 50px 20px; /* Adjusted padding */
  gap: 50px; /* Gap between containers*/
}

.wallet-left-container {
  background-color: #3a3a3a;
  height: 70vh;
  width: 100%; /* Adjusted to take up 100% of the grid column */
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Start content at the top */
  border-radius: 10px; /* Adds roundness to container */
}

.wallet-right-container {
  background-color: #79F5AE;
  height: 70vh;
  width: 100%; /* Adjusted to take up 100% of the grid column */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start; /* Start content at the top */
  border-radius: 10px; /* Adds roundness to container */
}

.wallet-trade_btn {
  background-color: #262626;
  color: #fff;
  padding: 1rem 3rem;
  border: 1px solid #79F5AE;
  border-radius: 10px;
  cursor: pointer;
}

#wallet-id-container p {
  color: white;
  font-size: 1.3em;
  width: 100%;
}

.wallet-h1{
  color: white;
}

/* Adjust the table to match the width of the left container */
.wallet-table {
  width: 260%; /* Set the table width to 100% */
  max-width: none; /* Remove any maximum width */
  border-collapse: collapse;
  margin-left: -13rem;
}

/* Rest of the existing styles for table cells and headers */
.wallet-table th,
.wallet-table td {
  padding: 11px;
  text-align: center;
  color: white;
  border: 0.5px solid #79F5AE; /* Add border for cells */
}

.wallet-table th {
  background-color: #262626;
}

/* Optional: Add a hover effect for table rows */
.wallet-table tr:hover {
  background-color: #444;
}

.asset-table{
  width: 130%; /* Set the table width to 100% */
  max-width: none; /* Remove any maximum width */
  border-collapse: collapse;
  margin-left: -2rem;
}

.asset-table th, 
.asset-table td {
  padding: 11px;
  text-align: center;
}

@media (max-width: 1400px) {
  .wallet-main-container {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }
  .wallet-left-container,
  .wallet-right-container {
    width: 100%; /* Both containers take full width */
    margin-left: 10rem;
  }

  /* Resizing for appearence and design */
  .wallet-left-container
  {
      height: 110%;
  }

  .wallet-right-container
  {
      max-width: 1000px;
      max-height: 300px;
  }
}