/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Wallet page
*/

.WalletNav {
border-top: #60C78C solid 20px;
}