/*
Name: 	Nathan Hoorbkaht
		Nicholas Gustin	
		Connor Lack

SID:	103865794
		103995882
		103992223

This Page is the style elements for the Wallet page
*/

.Wallet {
    background-color: #262626;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2/3 for left-container, 1/3 for right-container */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.left-container {
  background-color: #3a3a3a;
  height: 70vh;
  width: 100%; /* Adjusted to take up 100% of the grid column */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start; /* Start content at the top */
  border-radius: 10px; /* Adds roundness to container */
}

.right-container {
  background-color: #79F5AE;
  height: 70vh;
  width: 100%; /* Adjusted to take up 100% of the grid column */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start; /* Start content at the top */
  border-radius: 10px; /* Adds roundness to container */
}

.trade_btn {
  background-color: #262626;
  color: #fff;
  padding: 1rem 3rem;
  border: 1px solid #79F5AE;
  border-radius: 10px;
  cursor: pointer;
}

#wallet_id_container p {
  color: white;
  font-size: 1.3em;
  width: 100%;
}